{% extends "main_template.html" %}
{% load staticfiles %}
{% block video %}
    <script type="text/javascript" src="{% static "script.js" %}"></script>


{% for v in video %}
    <h1>{{ v.title }}</h1>
    <iframe width="853" height="480" src={{ v.url }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>{{ v.description }}</h3>
    <div class="cm-s-mdn-like" id="{{ v.id }}">
        <img src="{% static 'like.png' %}" width="40px">
        <h3 id="like{{ v.id }}">this video has {{ v.like }} Likes</h3>
    </div>
    <h2>{{ v.date }}</h2>
    <div id="c{{ v.id }}">
    {% for c in comment %}
        {% if c.video == v %}
            <hr>
            <h4>{{ c.text }}</h4>
            <h5>this comment from user {{ c.user }}</h5>
        {% endif %}
    {% endfor %}
    </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea id="t{{ v.id }}" class="form-control" rows="5" id="comment" name="comment"></textarea>
        </div>
        <button type="button" class="btn btn-dark" id="{{ v.id }}">OK</button>
{% endfor %}
<hr>
    <script>
        $('document').ready(
            $("button").on('click', function () {
                var id = $(this).attr('id');
                var val = $("#t" + id).val();
                $("#t" + id).val("");
                $.ajax({
                    url:"/add_comment/",
                    data:{"id":id, "val":val},
                    success:function (user) {
                        $('div#c' + id).append("<hr><h4>" + val + "</h4><h5>this comment from user " + user + "</h5>")
                    }
                })

                console.log(val)
            })
        )
    </script>

{% endblock %}