{% extends "main_template.html" %}
{% load staticfiles %}
{% block video %}
    <script type="text/javascript" src="{% static "script.js" %}"></script>


{% for v in video %}
    <h1>{{ v.title }}</h1>
    <iframe width="853" height="480" src={{ v.url }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>{{ v.description }}</h3>
    <div class="cm-s-mdn-like" id="{{ v.id }}">
        <img src="{% static 'like.png' %}" width="40px">
        <h3 id="like{{ v.id }}">this video has {{ v.like }} Likes</h3>
    </div>
    <h2>{{ v.date }}</h2>
    {% for c in comment %}
        {% if c.video == v %}
            <hr>
            <h4>{{ c.text }}</h4>
            <h5>this comment from user {{ c.user }}</h5>
        {% endif %}
    {% endfor %}
{% endfor %}
<hr>

{% endblock %}